body {
  background-color: #f3f3f3;
  font-family: "Noto Sans JP", sans-serif;
}
input {
  font-family: "Noto Sans JP", sans-serif;
}

/* Quillのスタイル上書き用 */
.ql-container {
  font-size: 16px;
}
.ql-editor {
  padding: 16px;
  min-height: 320px;
  border: 1px solid #999;
  background-color: #fff;
}
.ql-editor.ql-blank::before {
  left: 16px;
}
.ql-tooltip {
  z-index: 100;
}

/* 独自の要素 */
.container {
  max-width: 640px;
  margin: 0 auto;
}
.entry-title {
  margin-bottom: 16px;
}
.entry-title input {
  height: 44px;
  padding-inline: 16px;
  font-size: 16px;
}
.entry-title-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  right: 0;
  border: 0 !important;
}
.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.submit-button {
  max-width: 240px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}
