.ql-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}
.ql-editor {
  min-height: 320px;
}
.ql-tooltip {
  z-index: 100;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 12px;
  background-color: #ddd;
}
